
.blog-container h1 {
	text-transform: none;
	font-size: 2.5rem;
	text-align: left;
}

.blog-container h1>a {
	color: rgb(0, 123, 255);
	background-color: transparent;
	text-decoration: none;
}

.blog-container .blog-masthead {
	margin-bottom: 3rem;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
	box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}


.blog-container .blog-header {
	margin-bottom: 1rem;
	background-color: #fff !important;
}
.blog-container h1.post-title {
	text-decoration: none;
	margin-top: 0.75em;
	margin-bottom: 0px;
}
.blog-container h1.post-title a{
	text-decoration: none;
}
.blog-container .post-meta {
	margin-bottom: 1rem;
	display: table;
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}
.blog-container .post-meta-item {
	margin-right: 10px;
	float: left;
}
.blog-container .post-meta-item > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
}
.blog-container .post-more-link {
  margin-top: 0px;
}

.blog-container .post-container {
	background-color: #fff;
	margin-bottom: 1rem;
	padding-top: 1rem;
}

.blog-container img.post-thumbnail{
	vertical-align: middle;
	max-height: 80px;
	max-width: 80px;
	padding: 0px;
	border: 0px;
}

.blog-container .no-border{
	border: 0px !important;
}

p.post-more-link > .btn {
	color: blue !important;
}

p.post-more-link > .btn-outline-primary {
    color: #007bff !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #007bff !important;
}